// BASICS

$shadow: rgba(0, 0, 0, 0.2);
$black: #000;
$white: #fff;
$off-white: #e6e6e6;
$red: #ff0000;
$orange: #ff8200;
$yellow: #ffc000;
$green: #006400;
$blue: #0000ff;
$purple: #8300ff;

// PURPLES

$purple1: #7b00b3;
$purple2: #9e00e6;
$purple3: #b71aff;
$purple4: #c74dff;
$purple5: #d77fff;

// BLUES

$blue0: #131355;
$blue02: #08085c;
$blue05: #0f0f7c;
$blue1: #0000b3;
$blue2: #0000e6;
$blue3: #1a1aff;
$blue4: #3333ff;
$blue5: #4d4dff;