// BASICS

$shadow: rgba(0, 0, 0, 0.2);
$black: #000;
$white: #fff;
$off-white: #e6e6e6;
$gray-white: #aaaaaa;
$red: #ff0000;
$orange: #ff8200;
$yellow: #ffc000;
$neon-green: #00ff00;
$green: #006400;
$blue: #0000ff;
$purple: #8300ff;
$brown: #33210e;

// PURPLES

$purple1: #7b00b3;
$purple2: #9e00e6;
$purple3: #b71aff;
$purple4: #c74dff;
$purple5: #d77fff;

// BLUES

$blue0: #050544;
$blue02: #08085c;
$blue05: #0f0f7c;
$blue1: #0000b3;
$blue2: #0000e6;
$blue3: #1a1aff;
$blue4: #3333ff;
$blue5: #4d4dff;


$glass: #b6e2ff;

$light-lav: #b2b2ff;

// BROWNS
$brown03: #886c4d;
$brown05: #775634;
$brown07: #66421b;
$brown1: #492f14;
$brown2: #3c1f01;
$brown3: #331b01;
$brown4: #221200;
$brown4: #190d00;
