$shadow: rgba(0, 0, 0, 0.2);
$black: #000;
$white: #fff;
$red: #ff0000;
$orange: #ff8200;
$yellow: #ffc000;
$green: #006400;
$blue: #0000ff;
$purple: #8300ff;

$purple1: #7b00b3;
$purple2: #9e00e6;
$purple3: #b71aff;
$purple4: #c74dff;
$purple5: #d77fff;